<div class="card p-3 my-2">
  <div class="row">
    <div class="col-2 btn-group my-4">
      <%= link_to 'Редактировать', edit_product_path(@product) , class: 'btn btn-success' %>
      <%= link_to 'Назад', products_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <p><strong>Sku:</strong> <%= @product.sku %> <strong>Date Begin:</strong> <%= @product.avito_date_begin %></p>
      <p><strong>Title:</strong> <%= @product.title %></p>
      <p><strong>Desc:</strong> <%= @product.desc %></p>
      <p><strong>Quantity:</strong> <%= @product.quantity %> <strong>Costprice:</strong> <%= @product.costprice %> <strong>Price:</strong> <%= @product.price %></p>
    </div>
    <div class="col-6 row">
      <% if @product.images.attached? %>

        <% @product.images.each do |image| %>
            <div class="col-4 align-items-center mt-1 image-item">
              <%= image_tag image.variant(resize: '200x200'), class: 'img-thumbnail p-1' %>
            </div>
        <% end %>

      <% end %>
  </div>

  <div class="col-12 mt-4">
    <div class="row g-2">
      <div class="col-2 h4">Варианты</div>
      <%= link_to 'Создать варианты', create_variants_products_path(@product), method: :post, class: "col-2 btn btn-sm btn-secondary" %>
    </div>
    <div class="table-responsive mt-3">
      <table class="table table-primary">
        <thead>
          <tr>
            <th >#</th>
            <th >Id</th>
            <th >Sku</th>
            <th >Название</th>
            <th >Описание</th>
            <th >Период</th>
            <th >Картинки</th>
          </tr>
        </thead>
        <tbody>
        <%= turbo_stream_from 'variants'%>
        <%= turbo_frame_tag 'variants', data: { } do %>
          <% @product.variants.each_with_index do |variant, index|%>
            <%= render "variants/variant", variant: variant %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
